[defaults]
inventory = ./inventories/localhost
roles_path = ./roles
collections_path = ~/.ansible/collections:/usr/share/ansible/collections
# Ensure Ansible always checks the current directory for group_vars first
vars_plugins = /usr/share/ansible/plugins/vars:~/.ansible/plugins/vars